<section id="contactForm">
  <article>
    <h1>Contact us</h1>
    <form action="/contact" method="post">
      <div>
        <label for="firstname">Firstname</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          placeholder="enter first name"
        />
      </div>
      <div>
        <label for="lastname">lastname</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          placeholder="enter last name"
        />
      </div>
      <div>
        <label for="Email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="enter emailid"
        />
      </div>
      <div>
        <label for="Phno">Phone number</label>
        <input
          type="text"
          id="Phno"
          name="Phno"
          placeholder="enter phonenumber"
        />
      </div>
      <div class="textArea">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button type="submit"></button>
      </div>
    </form>
  </article>
</section>